# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.pytest_cache/

# Virtual environments
.venv
venv/
env/

# Environment variables
.env

# System artifacts
.DS_Store
Thumbs.db

# Output and Media
extracted_frames/
videos/
*.mp4
*.mov
*.avi
*.mkv

test*.sh

